.search-wrapper {
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
}

.podcast {
  border: 1px solid black;
  text-decoration: none;
}

.podcast img {
  width: 100%;
}

.podcast-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 100px;
  padding: 4rem;
}

.search-dropdown {
  width: fit-content;
}
