.search-wrapper {
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
}

.podcast {
  text-decoration: none;
  flex-shrink: 0;
  flex-grow: 0;
}

.podcast img {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 15px;
}

.podcast-title {
  font-size: 24px;
  font-weight: 700;
}

.podcast-creator {
  font-size: 24px;
  font-weight: 400;
}

.podcast-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 100px;
  padding: 4rem;
}

.search-dropdown {
  width: fit-content;
}
