p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.content-main {
  flex-basis: 4 / 5;
  width: 100%;
  background-color: #fff;
}

.content-main-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.content-main-container__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75em;
}

.content-main-container__title a {
  margin-right: 2em;
  padding: 1em 1.25em;
  background-color: #16A77C;
  color: #fff;
  border-radius: 10px;
}

.content-main-container__title h1 {
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.content__podcasts {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.content__titles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
}

.content__titles p {
  font-size: 1.25rem;
}

.content-podcast-card {
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 4px solid #C5E9DE;
  justify-content: space-between;
  padding-left: 3em;
  padding-right: 3em;
}

.content-podcast-card__left {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 2em;
}

.content-podcast-card__mid {
  display: flex;
  align-items: center;
  gap: 1em;
}

.content-podcast-card__mid img {
  aspect-ratio: 1 / 1;
  width: 8rem;
  border-radius: 10px;
}

.content-podcast-card__info {
  display: flex;
  flex-direction: column;
}

.content-podcast-card__title {
  font-size: 1.1rem;
  font-weight: bold;
}

.content-podcast-card__right p {
  font-size: 1.1rem;
}