.container {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 100dvh;
}

.left-nav {
  width: 350px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-right: 3px solid #c5e9de;
}

.left-nav__top {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left-nav__top a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-nav__icon {
  width: 55%;
  aspect-ratio: 1 / 1;
  border-radius: 200px;
}

.left-nav__bot {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  width: 100%;
}

.left-nav__link {
  display: flex;
  gap: 1.5em;
  align-items: center;
  width: 5rem;
  text-decoration: none;
  color: #000;
  gap: 0.5em;
}

.left-nav__link img {
  width: 1.5rem;
}

.left-nav__link p {
  margin: 0;
  padding: 0;
}

.pfp-submit {
  padding: 10px 15px;
  border-radius: 15px;
  background: #16a77c;
  width: min-content;
  margin: 10px auto;
  color: white;
}
