.player {
  width: 100vw;
  /* height: fit-content; */
  height: 100px;
  display: flex;
  flex-direction: row;
  background: #ffffff;
}

.player__info {
  width: 300px;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  justify-content: flex-start;
  align-items: center;
}

.player__info img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.player__info-text {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.player__info-text p {
  margin: 0;
  width: fit-content;
}

.player__info-episode {
  font-size: 0.6rem;
}

.player__additional {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
  gap: 0.2rem;
  width: fit-content;
}

.player__additional button {
  border: none;
  background: none;
}

.player__additional button:hover {
  cursor: pointer;
}

.player__additional img {
  width: 30px;
  height: auto;
}

.player__additional-timer {
  position: relative;
}

.player__additional-timer-options {
  display: none;
}

.player__additional-timer-options--shown {
  position: absolute;
  display: block;
  width: fit-content;
  height: fit-content;
  top: -100px;
  background: white;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  box-shadow: 2px 2px 5px #888;
  left: -3ch;
}

.player__additional-timer-options button {
  padding: 0.5rem;
  width: 10ch;
  border-radius: 10px;
}

.player__additional-timer-options button:hover {
  background: #e7e9eb;
}

/* these overide react-h5-audio-player/lib/styles.css */

.rhap_container {
  box-shadow: none;
}

/* media queries */

@media only screen and (max-width: 700px) {
  .player__additional {
    display: none;
  }
}
